[submodule "siuVic"]
	path = siuVic
	url = https://github.com/vs2961/12_dirinfo_vs.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_dir_info.git
	branch = main
